#dashboard {
    display: none;
    box-sizing: border-box;
    height: 73%;
    width: 74%;

    position: absolute;
    top: 17%;
    right: 5%;
    z-index: 1000;

    background: radial-gradient(circle, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 100%);
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.4);

    padding: 2%;
}

#dashboard h3 {
    font-size: 28px;
    font-weight: 600;
    color: white;
    margin-top: 0px;
    margin-bottom: 15px;
    text-align: center;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.controls {
    display: flex;
    justify-content: space-between;
}

.controls #input{
    display: flex;
    justify-content: space-between;
}

.button {
    padding: 8px 16px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-right: 10px;
    font-size: 14px;
}

.start-btn {
    background: #0a115b;
    color: white;
}

.reset-btn {
    background: red;
    color: white;
}

.button:hover {
    opacity: 0.9;
}

.epoch-counter {
    color: white;
    font-size: 20px;
    font-weight: bold;
}

input#epochsInput{
    width: 25%;
}

canvas {
    width: 100% !important;
    height: 80% !important;
}